<header class="pt-3">
  <div id="personal-logo" class="text-center py-3">
    <img src="/assets/personal_logo.svg" class="img-fluid" alt="Christian Galvez">
  </div>
  <div id="menu" class="py-2">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a routerLink="/home" class="nav-link" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="/service" class="nav-link" routerLinkActive="active">Our Service</a>
      </li>
      <li class="nav-item">
        <a routerLink="/aboutus" class="nav-link" routerLinkActive="active">About Us</a>
      </li>
      <li class="nav-item">
        <a routerLink="/contact" class="nav-link" routerLinkActive="active">Contact</a>
      </li>
    </ul>
  </div>
</header>
